@font-face {
  font-family: 'diatype';
  src: url('diatype.otf') format('opentype');
}

header {
  padding-bottom: 2%;
}

body {
  font-family: 'diatype', 'AUTHENTICSans', 'Arial', sans-serif;
  font-size: 14pt;
  line-height: 1.1em;
  padding: 4rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  font-size: 14pt;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  background-color: #1a5939;
  color: #fff;
}

.description {
  padding-top: 2%;
  line-height: 1.1em;
  font-size: 12pt;
}

img {
  max-width: 80%;
  max-height: 50%;
  display: block;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 2%;
}